body{
	background-color:#A0A0A0;
	background-image: url("../images/background.jpg");
	background-size: 50px 600px 50px 500px;
	background-repeat: no-repeat;
}

h1{
	text-align: center;
	font-size: 50px;
	color: 	#FF4500;
	font-family: 'Dancing Script', cursive;
}

h2{
	line-height: 50px;
}

h3{
	text-align: center;
	color: #000000;
	font-size: 25px;
}
h4{
    margin: 255px 0px -50px 0px;
}

h6{
	font-size: 25px;
	margin: -200px 0px 0px 555px;
	font-family: 'Pacifico', cursive;
}
/* nav starts here */

nav {
	display: flex;
	justify-content: space-evenly;
	/* color: white; */
	/* background-color:#333a35; */	
}

nav > div {
	text-transform: uppercase;
	padding: 3px;
}

a {
    color: #2D159F;
    margin-left: 25px;
	text-decoration: none; 
	margin: 30px 50px 0px 0px;
	font-weight: bold;
	font-size: 20px;
}

nav>div>a:hover {
	color: #DB1A20;
} 
/* nav starts here */
.learningButtons{
	display: flex;
	justify-content: center;
	background-color: #CC99ff;
    color: 	#0000FF;
	font-size: 3em;   
	height: 90px;
	outline: none;
}

/* javarscript button starts here */
#javascript{
	align-items: center;
    margin: 50px 150px 0px 550px;      
	border-radius: 12px;
}
/* javarscript button ends here */

/* diff learning levels' buttons starts here */
#beginner{
	align-items: flex-start;
    margin: 55px 50px 0px 250px;      
	border-radius: 50%;
}

#intermediate{
	align-items: flex-end;
    margin: -80px 50px 0px 900px;      
	border-radius: 50%;
}

#advanced{
	align-items: center;
    margin: 50px 50px 0px 550px;      
	border-radius: 8px;
}

/*javascriptHTML css starts here*/

p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	margin: 55px;
	line-height: 50px;
}
li{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	line-height: 30px;
}

/*javascriptHTML css ends here*/

/*contactHTML css starts here*/
.container {
	border-radius: 5px;
	background-color: #E0E0E0;
	padding: 10px;
	margin: -50px 0px 0px 55px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 16px;
	resize: vertical;
}
  
input[type=submit] {
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
/*contactHTML css ends here*/

/*loginHTML css starts here*/
.login{
	margin: 55px 1100px 0px 55px;
}
/*loginHTML css ends here*/

/*minutes by minutes css starts here*/
.minsbyminsLearning{
	display: flex;
	justify-content: center;
	background-color: #c5e0cd;
	width: 150px;
	height: 50px;
	border-radius: 12px;
	align-items: flex-start;
	margin: 55px 50px 0px 250px;  
}

/*minutes by minutes css ends here*/

/*beginnerHTML css starts here*/
.beginnerImage{
	margin: -260px 55px 0px 550px;
	
}
/*beginnerHTML css ends here*/

/*intermediateHTML css starts here*/
.imgIntermediate img{
	display: flex;
	float: right;
	width: 500px;
	margin: 0px -50px 0px 35px;
}

